<html><head>
    <title> index </title>
    <%= stylesheet_link_tag "styles.css" %>
</head>

<body>

<h1>
    Welcome to the Admin Page
    </h1>




<table>
    <tbody><tr>
        <th>Image   </th>
        <th>Name  </th>
        <th>Price  </th>
        <th>Description  </th>
        <th>Quantity  </th>
    </tr>

    <tr>
        </tr><tr><td>
        <%= image_tag("bazooka.png") %>
        </td></tr>
        <tr><th></th>
        <th>This is a Bazooka</th>
        <th>Price is negotiable.</th>
        <th>One size fits all. Fires a 20mm rocket. Enemies beware</th>
        <th>We got 2 but one is for me</th>
    </tr>
    <tr>
        </tr><tr><td>
        <%= image_tag("samuel.jpg") %>
        <tr><th></th>
        <th>This is Samuel and he is a cute little guy</th>
        <th>Price is negotiable but nothing lower than $1300.</th>
        <th>Great with kids. keep moist...he is a frog</th>
        <th>We have alot. May have to liquidate if not taken care of</th>
    </tr>

    <tr>
        </tr><tr><td>  <%= image_tag("ziggurat.jpg") %>     </td></tr>
        <tr><th></th>
        <th>This is the Choghazanbil Ziggurat</th>
        <th>Literally Free. Please get it out of here. There has been a curse upon my lands for generations</th>
        <th>12 million tons of granite, impossible to carve with the tools at the times, slightly radioactive, and aligns perfectly with the northern most star in the sky</th>
        <th>Just one in stock</th>
    </tr>
    <tr>
        </tr><tr><td><%= image_tag("money.jpg") %></td></tr>
        <tr><th></th>
        <th>Counterfit Money</th>
        <th>1:1 with the US dollar</th>
        <th>Essentially the real deal if you dont look too hard</th>
        <th>We have alot. We have printers in the back</th>
    </tr>

</tbody></table>



<p> </p>

<p> </p>

<h3>
    Add More Stuff To Check Out store
    </h3>

<form action="/additem" method="POST">
    <input name ="names" type = "text" placeholder ="item name">
    <input name ="price" type = "number" placeholder ="item price">
    <input name ="description" type = "text" placeholder ="item decription">
    <input name ="quantity" type = "number" placeholder ="item quantity">
    <input type = "submit">
</form>

<table>
<thead>
<th>Name</th><th>Price</th><th>Description</th><th>Quantity</th>
</thead>
    <tbody>
        <% @itemnew.each do |item| %>
        <tr>
            <td> <%= item.names %> </td>
            <td> <%= item.price %></td>
            <td> <%= item.description %> </td>
            <td> <%= item.quantity %></td>
        <%end%>
    </tbody>
</table>
<p> </p>

<h3>Add cats!</h3>
<form action="/cats" method="POST">
    <input name ="name" type = "text" placeholder ="cat name">
    <input name ="weight" type = "number" placeholder ="cat weight">
    <input type = "submit">
</form>

<table>
<thead>
<th>Name</th><th>Weight</th>
</thead>
    <tbody>
        <% @cats.each do |cat| %>
        <tr>
            <td> <%= cat.name %> </td>
            <td> <%= cat.weight %></td>
        <%end%>
    </tbody>
</table>      

    <p>
        <h3><%= link_to "Click this link to see the Team", "/team" %></h3>
        <h3> <a href="/blog">Click this link To See Our Blog Post</a></h3>
        <h3> <a href="/homepage">Return to the Home Site</a></h3>
         <h3> <a href="/products">Click Here To Check Out</a></h3>
        
    </p>


</body></html>